
#map {
 height: 88%;
 // position:relative;
  //z-index:4;
}

.inputProperties{
  //width:100%;
  z-index: 3;
  position: absolute;
  //background-color: lightblue;
}

.zipTownList{
  z-index: 2;
  position: relative;
 background-color: white !important;
 //color: #656363
}

.fab-list-active{
  width:100%;
  position:relative;
  margin:30px;
}

.testitems{
  z-index: 3;
width:200px;
height:300px;
margin:20px;
}

// .medianbutton  {
//     //background-color: lightgray;
//     padding: 0;
// border: none;
// background: none;
// color:white;
// }

// .medianbutton:active,
// .medianbutton:focus {
//    //background-color: blue;
//     padding: 0;
//     background: none;
//     color:white;
//     border-bottom:  solid #ffffff;
// }

.output{
 font-size:small;
}

ion-fab-list[side="left"] {
margin: 10px 66px 0 0;}


// .resultbuttonblock{
//   background-color: orange
// }

.fab-md{
  background-color: orange;
}

ion-select{
  max-width: 100% !important;
}

.inputbutton{
  width:40px;
  height:40px;
  margin-top:4px;
}

.inputpropertieslist{
  position: absolute;
width: 200px;
margin: 10px 0px 0 0;
}

.alert-head{
  display:none;
}

.alert-message{
  display:none;
}

.item-md{
  //color:white;
  //padding-left:0px;
}

.inputpropertydiv .item-md.item-block .item-inner{
  border:0px;
}

 .item-md.item-block .item-inner{
     border:0px;
 }

 .item-ios.item-block .item-inner{
   border:0px;
 }

.select-icon{
  display:none
}

.select-text{
  display:none;
}

.icon-button{
  background-color:transparent;
}

.icon:after{
    content: '';
    display: block;
    height: 40px;  /*height of icon */
    width: 40px;  /*width of icon */
    position: absolute;
      /*where to replace the icon */
    top: 0px;
    left: -40px;
      /*background */
    //background: #F8E6AE url(ico.gif) no-repeat 0px 0px;
}

#inputpropertydiv{
  content: '';
  background: url(../assets/property.png) no-repeat  center center ;
}


#inputpropertytypediv{
  content: '';
  background: url(../assets/propertytype.png) no-repeat  center center ;
}


#inputcomparablepropertydiv{
  content: '';
  background: url(../assets/comparableproperty.png) no-repeat  center center ;
}

.alert-md .alert-wrapper{
  background-color: #2f2e2e;
}



.alert-radio-icon{
  background-color: orange;
}

.alert-md [aria-checked="true"] .alert-radio-icon {
    border-color:white;
}

.alert-md .alert-radio-inner{
  background-color: orange;
}

.alert-md [aria-checked=true] .alert-radio-label {
    color:white;
}

.alert-md .alert-radio-label{
   color: #fbfbfb;
}

.input-row .button-inner{
  color : orange;
}

.alert-md .alert-radio-group, .alert-md .alert-checkbox-group{
  border-top: 0px;
}

.alert-md .alert-button{
  color:orange;
}

.alert-ios .alert-wrapper{
  background-color: #2f2e2e;
}

.alert-ios [aria-checked="true"] .alert-radio-icon {
    border-color:white;
}

.alert-ios [aria-checked="true"] .alert-radio-inner {
border-color: orange;
}

.alert-ios [aria-checked=true] .alert-radio-label {
    color:white;
}

.alert-ios .alert-radio-group, .alert-md .alert-checkbox-group{
  border-top: 0px;
}

.alert-ios .alert-button{
  color:orange;
}

.alert-ios .alert-radio-label{
  color:white;
}

.alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group{
  overflow-y: scroll;
  overflow-x:hidden;
}

.footerlabel .label-md {
  margin:2px;
  color: white;
  font-weight: bold;
}

.footerlabel .label-ios {
  margin:2px;
  color: white;
  font-weight: bold;
}

.inputheader{
  background-color: #656363;
}

.searchbar-ios {
    margin-top: 20px;
}

.button-clear-ios {
    border-color: transparent;
    color: #f9f7f4;
    background-color: transparent;
    font-weight: bold;
}

.list-md > .item-block:first-child {
    border-top: 0.55px solid #c8c7cc;
}

.loading-ios .loading-wrapper{
  background-color: black;
  color:orange;
}


.loading-md .loading-wrapper{
  background-color: black;
  color:orange;
}

.loading-md .spinner-bubbles circle{
  fill:orange;
}

.loading-ios .spinner-bubbles circle{
  fill:orange;
}