<ion-header style="background-color: #4d4949">
<ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
<!--<div style="display:flex">
<ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>

<div>
  <ion-fab middle="" right="" style="z-index:2">
    <button ion-fab mini><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="left" class="inputpropertieslist" style="position: absolute;
width: 200px;
margin: 50px 10px 0 0;background-color: white;" >
<ion-grid>
  <div >
<ion-row>
  <ion-col>
    <ion-item>
      <ion-select [(ngModel)]="layers" (ngModelChange)="onLayerChange(layers)">
        <ion-option value="0">Properties</ion-option>
        <ion-option value="1">Contracts</ion-option>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-select [(ngModel)]="propertyType.value" (ngModelChange)="propertyTypeChange()">
          <ion-option *ngFor="let propertyType of propertyTypes" value={{propertyType.value}} ngDefaultControl>{{propertyType.label}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-select [(ngModel)]="nbComparableProperties" (ngModelChange)="onComparablePropertyChange()">
          <ion-option value="5">5</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="15">15</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</div>
</ion-grid>

</ion-fab-list>
</ion-fab>

</div>
</div>-->
<ion-item class="zipTownList" *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
  {{ item }}
</ion-item>

</ion-header>

<ion-content class="has-header has-subheader" style="height:100%">

<div style="width:100%;height:50px;background-color:gray">

<ion-row class="inputrow">
  <ion-col col-4>
    <div id="inputpropertydiv">

      <ion-item class="icon-button">

        <ion-select [(ngModel)]="layers" (ngModelChange)="onLayerChange(layers)">
          <ion-option value="0">Properties</ion-option>
          <ion-option value="1">Contracts</ion-option>
        </ion-select>

      </ion-item>
    </div>

  </ion-col>
  <ion-col col-4>
    <div id="inputpropertytypediv">

      <ion-item class="icon-button">

        <ion-select [(ngModel)]="propertyType.value" (ngModelChange)="propertyTypeChange()">
          <ion-option *ngFor="let propertyType of propertyTypes" value={{propertyType.value}} ngDefaultControl>{{propertyType.label}}</ion-option>
        </ion-select>

      </ion-item>
    </div>
  </ion-col>
  <ion-col col-4>
    <div id="inputcomparablepropertydiv">

      <ion-item class="icon-button">

        <ion-select [(ngModel)]="nbComparableProperties" (ngModelChange)="onComparablePropertyChange()">
          <ion-option value="5">5</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="15">15</ion-option>
        </ion-select>

      </ion-item>
    </div>
  </ion-col>
</ion-row>

</div>
<div #map id="map"></div>
</ion-content>

<ion-footer class="footerlabel">
  <div style="width:100%;height:15%;background-color:#2f2e2e">
<ion-row>
  <ion-col col-9>
    <div *ngIf="Properties">
      <div style="display:flex">
        <ion-label style="color:orange">Radius :</ion-label>
        <ion-label style="color:orange">{{rentalFinancials.maximalDistance}}</ion-label>
      </div>
      <div style="display:flex">
        <ion-label style="color:orange">Median Rent/m<sup>2</sup> :</ion-label>
        <ion-label style="color:orange"> CHF {{rentalFinancials.medianExpectedRentPerSquareMeter | number:'.2-2'}}</ion-label>
      </div>
      <div style="display:flex">
        <ion-label style="color:orange">Average Rent/m<sup>2</sup> :</ion-label>
        <ion-label style="color:orange"> CHF {{rentalFinancials.meanExpectedRentPerSquareMeter | number:'.2-2'}}</ion-label>
      </div>
    </div>

      <div *ngIf="Contracts">
        <div style="display:flex">
          <ion-label style="color:orange">Radius :</ion-label>
          <ion-label style="color:orange">{{rentalContracts.maximalDistance}}</ion-label>
        </div>
        <div style="display:flex">
          <ion-label style="color:orange">Median Rent/m<sup>2</sup> :</ion-label>
          <ion-label style="color:orange"> CHF {{rentalContracts.medianNetRentPerSquareMeter | number:'.2-2'}}</ion-label>
        </div>
        <div style="display:flex">
          <ion-label style="color:orange">Average Rent/m<sup>2</sup> :</ion-label>
          <ion-label style="color:orange"> CHF {{rentalContracts.medianNetRentPerSquareMeter | number:'.2-2'}}</ion-label>
        </div>
    </div>


</ion-col>

<ion-col col-3>
  <button ion-fab mini (click)="test(rentalFinancials,rentalContracts)" style="float: right;margin-right:10px">
<ion-icon name="more"></ion-icon>
</button>
</ion-col>
</ion-row>
</div>
</ion-footer>