<ion-header style="background-color: #4d4949">
  <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  <!--<div style="display:flex">
<ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>

<div>
  <ion-fab middle="" right="" style="z-index:2">
    <button ion-fab mini><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="left" class="inputpropertieslist" style="position: absolute;
width: 200px;
margin: 50px 10px 0 0;background-color: white;" >
<ion-grid>
  <div >
<ion-row>
  <ion-col>
    <ion-item>
      <ion-select [(ngModel)]="layers" (ngModelChange)="onLayerChange(layers)">
        <ion-option value="0">Properties</ion-option>
        <ion-option value="1">Contracts</ion-option>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-select [(ngModel)]="propertyType.value" (ngModelChange)="propertyTypeChange()">
          <ion-option *ngFor="let propertyType of propertyTypes" value={{propertyType.value}} ngDefaultControl>{{propertyType.label}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-select [(ngModel)]="nbComparableProperties" (ngModelChange)="onComparablePropertyChange()">
          <ion-option value="5">5</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="15">15</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</div>
</ion-grid>

</ion-fab-list>
</ion-fab>

</div>
</div>-->
  <ion-item class="zipTownList" *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
    {{ item }}
  </ion-item>

</ion-header>

<ion-content class="has-header has-subheader">

  <div class="resultpanel">
    <ion-fab top="" right="">
      <!--<button ion-fab mini><ion-icon name="add"></ion-icon></button>-->
      <ion-fab-list side="left">
        <ion-item class="output">

          <ion-grid>
            <ion-row class="resultbuttonblock">
              <ion-col col-6>
                <button ion-button class="medianbutton" id="medianbutton" full outline (click)="median()">Median</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button class="medianbutton" id="averagebutton" full outline (click)="average()">Average</button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <!-- Average -->
                <div *ngIf="Median">

                  <!-- RentalFinancial -->
                  <div *ngIf="Properties">
                    <ion-row class="headrow" style="text-align: center">
<ion-col>
  <strong>KPI</strong>
</ion-col>
<ion-col>
  <strong>Value</strong>
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Radius
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.maximalDistance | number:'.0-0'}}m
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Value/m<sup>2</sup>
  </ion-col>
  <ion-col style="text-align: center"> CHF {{rentalFinancials.medianMarketValuePerSquareMeter | number:'.2-2' }}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Expected rent/m<sup>2</sup>
  </ion-col>
  <ion-col style="text-align: center"> CHF {{rentalFinancials.medianExpectedRentPerSquareMeter | number:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Gross return
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.medianExpectedRentPerMarketValue | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Vacancy rate
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.medianUnrealizedRentPerNetRent | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    OpEx in % of rents
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.medianOperatingExpensesPerNetRent | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    CapEx in % of rents
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.medianMaintenanceAndInvestmentsPerNetRent | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Total outflows in % of rents
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.medianTotalExpensesPerNetRent | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Net cash flow/m<sup>2</sup>
  </ion-col>
  <ion-col style="text-align: center"> CHF {{rentalFinancials.medianNcfPerSquareMeter | number:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    NCF Return
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.medianNcfPerMarketValue | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Change in value
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.medianValueChangePerMarketValue | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Total Performance
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.medianPerformancePerMarketValue | percent:'.2-2'}}
</ion-col>
</ion-row>
</div>
<!-- Contracts -->
<div *ngIf="Contracts">
  <ion-row style="text-align: center">
<ion-col>
  <strong>KPI</strong>
</ion-col>
<ion-col>
  <strong>Value</strong>
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Radius
  </ion-col>
  <ion-col style="text-align: center"> {{rentalContracts.maximalDistance | number:'.0-0'}} m
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Expected rent/m<sup>2</sup>
  </ion-col>
  <ion-col style="text-align: center"> CHF {{rentalContracts.medianNetRentPerSquareMeter | number:'.2-2' }}
</ion-col>
</ion-row>
</div>
</div>
<div *ngIf="Average">

  <!-- RentalFinancial -->
  <div *ngIf="Properties">
    <ion-row style="text-align:center;">
<ion-col>
  <strong>KPI</strong>
</ion-col>
<ion-col>
  <strong>Value</strong>
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Radius
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.maximalDistance | number:'.0-0'}}m
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Value/m<sup>2</sup>
  </ion-col>
  <ion-col style="text-align: center"> CHF {{rentalFinancials.meanMarketValuePerSquareMeter | number:'.2-2' }}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Expected rent/m<sup>2</sup>
  </ion-col>
  <ion-col style="text-align: center"> CHF {{rentalFinancials.meanExpectedRentPerSquareMeter | number:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Gross return
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.meanExpectedRentPerMarketValue | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Vacancy rate
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.meanUnrealizedRentPerNetRent | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    OpEx in % of rents
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.meanOperatingExpensesPerNetRent | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    CapEx in % of rents
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.meanMaintenanceAndInvestmentsPerNetRent | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Total outflows in % of rents
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.meanTotalExpensesPerNetRent | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Net cash flow/m<sup>2</sup>
  </ion-col>
  <ion-col style="text-align: center"> CHF {{rentalFinancials.meanNcfPerSquareMeter | number:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    NCF Return
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.meanNcfPerMarketValue | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Change in value
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.meanValueChangePerMarketValue | percent:'.2-2'}}
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Total Performance
  </ion-col>
  <ion-col style="text-align: center"> {{rentalFinancials.meanPerformancePerMarketValue | percent:'.2-2'}}
</ion-col>
</ion-row>
</div>
<!-- Contracts -->
<div *ngIf="Contracts">
  <ion-row style="text-align: center">
<ion-col>
  <strong>KPI</strong>
</ion-col>
<ion-col>
  <strong>Value</strong>
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Radius
  </ion-col>
  <ion-col style="text-align: center">{{rentalContracts.maximalDistance | number:'.0-0'}} m
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    Expected rent/m<sup>2</sup>
  </ion-col>
  <ion-col style="text-align: center">CHF {{rentalContracts.medianNetRentPerSquareMeter | number:'.2-2' }}
</ion-col>
</ion-row>
</div>
</div>
</ion-col>
</ion-row>
</ion-grid>
<!--</div>-->

</ion-item>



</ion-fab-list>
</ion-fab>
</div>
  <div style="width:100%;height:50px;background-color:gray">

<ion-row class="inputrow">
  <ion-col col-4>
     <div id="inputpropertydiv">

      <ion-item class="icon-button">

        <ion-select [(ngModel)]="layers" (ngModelChange)="onLayerChange(layers)">
        <ion-option value="0">Properties</ion-option>
        <ion-option value="1">Contracts</ion-option>
      </ion-select>

      </ion-item>
    </div>
    <!--<ion-item style="background-color: transparent">
        <ion-label style="margin:0px;padding-left:0px">{{propertyLabel}}</ion-label>
         <ion-toggle [(ngModel)]="layers" (ngModelChange)="onLayerChange(layers)" ></ion-toggle>
      </ion-item>-->

  </ion-col>
  <ion-col col-4>
    <div id="inputpropertytypediv">

      <ion-item class="icon-button">

        <ion-select [(ngModel)]="propertyType.value" (ngModelChange)="propertyTypeChange()">
          <ion-option *ngFor="let propertyType of propertyTypes" value={{propertyType.value}} ngDefaultControl>{{propertyType.label}}</ion-option>
        </ion-select>

      </ion-item>
    </div>
  </ion-col>
  <ion-col col-4>
    <div id="inputcomparablepropertydiv">

      <ion-item class="icon-button">

        <ion-select [(ngModel)]="nbComparableProperties" (ngModelChange)="onComparablePropertyChange()">
          <ion-option value="5">5</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="15">15</ion-option>
        </ion-select>

      </ion-item>
    </div>
  </ion-col>
</ion-row>

</div>
<div #map id="map"></div>
</ion-content>

<ion-footer class="footerlabel">
   <div style="width:100%;height:70px;background-color:#2f2e2e">
     <ion-row>
       <ion-col col-9>
         <div style="display:flex">
         <ion-label style="color:orange">Radius :</ion-label>
         <ion-label style="color:orange">{{rentalFinancials.maximalDistance}}</ion-label>
         </div>
          <div style="display:flex">
         <ion-label style="color:orange">Median Rent/m<sup>2</sup> :</ion-label>
         <ion-label style="color:orange"> CHF {{rentalFinancials.medianExpectedRentPerSquareMeter | number:'.2-2'}}</ion-label>
         </div>
         <div style="display:flex">
         <ion-label style="color:orange">Average Rent/m<sup>2</sup> :</ion-label>
         <ion-label style="color:orange"> CHF {{rentalFinancials.meanExpectedRentPerSquareMeter | number:'.2-2'}}</ion-label>
         </div>
       </ion-col>
      
       <ion-col col-3>
          <!--<button (click)="test(rentalFinancials,rentalContracts)">Test</button>-->
          <button ion-fab mini (click)="test(rentalFinancials,rentalContracts)" style="float: right;margin-right:10px"><ion-icon name="more" ></ion-icon></button>
       </ion-col>
     </ion-row>
   </div>
</ion-footer>