
.segment-md .segment-button{
    // color:white;
    // background-color: orange;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    // border-color: #ebf0f8;
    // opacity: 1;
}

.segment-ios .segment-button{
  border-color : orange;
  color:orange
}

.segment-ios .segment-button.segment-activated{
  background-color:orange;
}

.segment-md .segment-button{
  border-color : orange;
  color:orange;
  border:1px solid;
}

.segment-md .segment-button.segment-activated{
  background-color:orange;
  color:white;
  border-color: orange;

}

// .input-wrapper{
//     background-color: rgba(28,28,28,0.8);
// color: white;
// }

.ion-col{
    border-left: 0.1px solid orange;
border-right: 0.1px solid orange;
}

 .toolbar-background-md {
    border-color: #4d4949;
    background: #4d4949;
}

.toolbar-title-md{
    color:white;
}

.back-button-icon-md{
    color:white;
}

.toolbar-background-ios {
   border-color: #4d4949;
    background: #4d4949;
}

.toolbar-title-ios{
    color:white;
}

.back-button-icon-ios{
    color:white;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: white;
    background-color: transparent;
}

.rows{
    border-top:0.1px solid gray;
    //border-left:0.1px solid orange;
    //border-right:0.1px solid orange;   
}

.lastrow{
    border-bottom:0.1px solid gray;
}

.headrow{
  background-color: black;
  text-align: center;
  color:orange
}

.itemlist{
    font-size:small;
    word-wrap: break-word;
}

.coldata{
    text-align:right;
}

